body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px ;
    
}
input{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    /* border: none; */
background-color: rgb(42, 95, 165);
}